In [1]:
import pandas as pd
import mysql.connector

In [2]:
dfbus1=pd.read_csv("APSRTC_Bus_Details.csv")
dfbus2=pd.read_csv("ASTC_Bus_Details.csv")
dfbus3=pd.read_csv("BSRTC_Bus_Details.csv")
dfbus4=pd.read_csv("HRTC_Bus_Details.csv")
dfbus5=pd.read_csv("JKRTC_Bus_Details.csv")
dfbus6=pd.read_csv("KSRTC_Bus_Details.csv")
dfbus7=pd.read_csv("PEPSU_Bus_Details.csv")
dfbus8=pd.read_csv("SBSTC_Bus_Details.csv")
dfbus9=pd.read_csv("TSRTC_Bus_Details.csv")
dfbus10=pd.read_csv("WBTC_Bus_Details.csv")

In [3]:
dfbus=pd.concat([dfbus1,dfbus2,dfbus3,dfbus4,dfbus5,dfbus6,dfbus7,dfbus8,dfbus9,dfbus10])
dfbus

,Bus Name,Bus Type,From,To,Price,Starting Point,Ending Point,Seat Available,Start Time,Reach Time,Total Travel Time,Bus Rating,Links
0,APSRTC - 2561,INDRA(A.C. Seater),Hyderabad,Vijayawada,528.0,Central Bus Station (CBS,Rtc bus stand,22 Seats available,17:15,22:45,05h 30m,3.4,https://www.redbus.in/bus-tickets/hyderabad-to...
1,APSRTC - 2674,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Hyderabad,Vijayawada,436.0,Jeedimetla,Rtc bus stand,17 Seats available,17:30,01:20,07h 50m,3.2,https://www.redbus.in/bus-tickets/hyderabad-to...
2,APSRTC - 3366,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Hyderabad,Vijayawada,436.0,Kukatpally,Rtc bus stand,25 Seats available,17:55,01:45,07h 50m,2.4,https://www.redbus.in/bus-tickets/hyderabad-to...
3,APSRTC - 3360,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),Hyderabad,Vijayawada,670.0,Kukatpally,Rtc bus stand,40 Seats available,18:25,01:30,07h 05m,2.6,https://www.redbus.in/bus-tickets/hyderabad-to...
4,APSRTC - 2575,NIGHT RIDER (SEATER CUM SLEEPER),Hyderabad,Vijayawada,595.0,Kukatpally,Rtc bus stand,27 Seats available,18:55,01:15,06h 20m,3.8,https://www.redbus.in/bus-tickets/hyderabad-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),Barasat (West Be...,Nimtouri,93.0,BARASAT,NIMTOURI,49 Seats available,11:15,00:00,12h 45m,3.6,https://www.redbus.in/bus-tickets/barasat-west...
398,WBTC (CTC) Habra- Barasat- Haldia - 180|07:10,Non AC Seater (2+3),Barasat (West Be...,Nimtouri,82.0,Champadally,Nimtouri,1 Seat available,07:10,08:45,01h 35m,4.6,https://www.redbus.in/bus-tickets/barasat-west...
399,WBTC (CTC) Habra-Midnapur - 194|05:25,Non AC Seater (2+3),Habra,Midnapore,138.0,Habra,Midnapur,35 Seats available,05:25,09:35,04h 10m,4.5,https://www.redbus.in/bus-tickets/habra-to-mid...
400,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),Habra,Midnapore,138.0,Habra,Midnapur,34 Seats available,05:55,10:15,04h 20m,4.3,https://www.redbus.in/bus-tickets/habra-to-mid...
401,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),Habra,Midnapore,143.0,HABRA,MIDNAPUR,40 Seats available,06:20,00:00,17h 40m,3.8,https://www.redbus.in/bus-tickets/habra-to-mid...

In [4]:
df = dfbus.rename(columns={'Bus Name': 'Bus_Name',
                           'Bus Type': 'Bus_Type',
                           'From': 'Start_From',
                           'To': 'Destination',
                           'Price': 'Price',
                           'Starting Point': 'Starting_Point',
                           'Ending Point': 'Ending_Point',
                           'Seat Available': 'Seat_Available',
                           'Start Time': 'Start_Time',
                           'Reach Time': 'Reach_Time',
                           'Total Travel Time': 'Total_Travel_Time',
                           'Bus Rating': 'Bus_Rating',
                           'Links': 'Links',},)

In [38]:
df.to_csv("All_Bus_Details.csv", index=False)

In [39]:
df.isna().sum()

Bus_Name             9
Bus_Type             9
Start_From           0
Destination          0
Price                9
Starting_Point       9
Ending_Point         9
Seat_Available       9
Start_Time           9
Reach_Time           9
Total_Travel_Time    9
Bus_Rating           9
Links                0
dtype: int64

In [40]:
# Drop rows with any empty cells
df.dropna(how='any', inplace=True)

In [41]:
df.isna().sum()

Bus_Name             0
Bus_Type             0
Start_From           0
Destination          0
Price                0
Starting_Point       0
Ending_Point         0
Seat_Available       0
Start_Time           0
Reach_Time           0
Total_Travel_Time    0
Bus_Rating           0
Links                0
dtype: int64

In [42]:
print(df['Bus_Name'].isnull().sum())

0

In [43]:
df.shape

(3709, 13)

In [44]:
df['Links'].unique

<bound method Series.unique of 0      https://www.redbus.in/bus-tickets/hyderabad-to...
1      https://www.redbus.in/bus-tickets/hyderabad-to...
2      https://www.redbus.in/bus-tickets/hyderabad-to...
3      https://www.redbus.in/bus-tickets/hyderabad-to...
4      https://www.redbus.in/bus-tickets/hyderabad-to...
                             ...
397    https://www.redbus.in/bus-tickets/barasat-west...
398    https://www.redbus.in/bus-tickets/barasat-west...
399    https://www.redbus.in/bus-tickets/habra-to-mid...
400    https://www.redbus.in/bus-tickets/habra-to-mid...
401    https://www.redbus.in/bus-tickets/habra-to-mid...
Name: Links, Length: 3709, dtype: object>

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3709 entries, 0 to 401
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           3709 non-null   object
 1   Bus_Type           3709 non-null   object
 2   Start_From         3709 non-null   object
 3   Destination        3709 non-null   object
 4   Price              3709 non-null   float64
 5   Starting_Point     3709 non-null   object
 6   Ending_Point       3709 non-null   object
 7   Seat_Available     3709 non-null   object
 8   Start_Time         3709 non-null   object
 9   Reach_Time         3709 non-null   object
 10  Total_Travel_Time  3709 non-null   object
 11  Bus_Rating         3709 non-null   object
 12  Links              3709 non-null   object
dtypes: float64(1), object(12)
memory usage: 405.7+ KB

In [46]:
df['Start_Time']=pd.to_datetime(df['Start_Time'],format="%H:%M").dt.strftime("%H:%M")

In [47]:
df['Reach_Time']=pd.to_datetime(df['Reach_Time'],format="%H:%M").dt.strftime('%H:%M')

In [48]:
print(type(df['Start_Time'][0]))

<class 'pandas.core.series.Series'>

In [49]:
print(type(df['Reach_Time'][0]))

<class 'pandas.core.series.Series'>

In [50]:
df['Start_Time']

0      17:15
1      17:30
2      17:55
3      18:25
4      18:55
       ...
397    11:15
398    07:10
399    05:25
400    05:55
401    06:20
Name: Start_Time, Length: 3709, dtype: object

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3709 entries, 0 to 401
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           3709 non-null   object
 1   Bus_Type           3709 non-null   object
 2   Start_From         3709 non-null   object
 3   Destination        3709 non-null   object
 4   Price              3709 non-null   float64
 5   Starting_Point     3709 non-null   object
 6   Ending_Point       3709 non-null   object
 7   Seat_Available     3709 non-null   object
 8   Start_Time         3709 non-null   object
 9   Reach_Time         3709 non-null   object
 10  Total_Travel_Time  3709 non-null   object
 11  Bus_Rating         3709 non-null   object
 12  Links              3709 non-null   object
dtypes: float64(1), object(12)
memory usage: 534.7+ KB

In [52]:
df['Bus_Rating'] = pd.to_numeric(df['Bus_Rating'], errors='coerce')

In [53]:
df['Bus_Rating']

0      3.4
1      3.2
2      2.4
3      2.6
4      3.8
      ...
397    3.6
398    4.6
399    4.5
400    4.3
401    3.8
Name: Bus_Rating, Length: 3709, dtype: float64

In [54]:
df['Seat_Available'].dtype

dtype('O')

In [55]:
df['Price'].unique()

array([ 528.  ,  436.  ,  670.  ,  595.  ,  781.  ,  469.  ,  412.  ,
        565.  ,  607.  ,  414.  ,  420.  ,  500.  ,  633.  ,  517.  ,
        444.  ,  635.  ,  446.  ,  567.  ,  720.  ,  737.  ,  795.  ,
        450.  ,  350.  ,  459.  ,  346.  ,  584.  ,  510.  ,  383.  ,
        590.  ,  589.  ,  352.  ,  725.  ,  332.  ,  449.  ,  425.  ,
        630.  ,  427.  ,  555.  ,  560.  ,  440.  ,  783.  ,  343.  ,
        522.  ,  400.  ,  250.  ,  281.  ,  340.  ,  269.  ,  302.  ,
        266.  ,  499.  ,  740.  ,  790.  ,  186.  ,  304.  ,  380.  ,
        314.  ,  399.  ,  599.  ,  699.  ,  439.  ,  526.  ,  656.  ,
        700.  ,  799.  ,  600.  ,  849.  ,  940.  ,  749.  ,  905.  ,
        770.  , 1050.  ,  990.  ,  650.  ,  850.  ,  900.  , 5000.  ,
       3660.  ,  294.  ,  280.  ,  284.  ,  398.  ,  506.  ,  362.  ,
        660.  ,  379.  ,  820.  ,  549.  ,  627.  ,  430.  ,  481.  ,
        519.  ,  800.  ,  569.  ,  523.  ,  349.  ,  475.  , 4750.  ,
       1500.  ,  632.  ,  306.  ,  300.  ,  199.  ,  570.  ,  550.  ,
        680.  ,  752.  ,  726.  ,  738.  ,  540.  ,  765.  ,  416.  ,
        370.  ,  371.  ,  342.  ,  467.  ,  312.  ,  344.  ,  328.  ,
        287.  ,  470.  ,  509.  ,  562.  ,  463.  ,  553.  ,  743.  ,
        515.  ,  610.  , 2000.  , 3999.  ,  750.  ,  388.  ,  782.  ,
       1000.  , 2160.  , 2500.  ,  579.  ,  574.  ,  605.  ,  882.  ,
        732.  ,  929.  ,  784.  ,  488.  ,  649.  ,  621.  ,  679.  ,
        810.  ,  480.  ,  544.  ,  474.  ,  675.  ,  220.  ,  217.  ,
        277.  ,  170.  ,  246.  ,  629.  ,  534.  ,  594.  ,  189.  ,
        466.  ,  890.  ,  490.  , 1149.  ,  950.  ,  949.  , 1299.  ,
        851.  ,  832.  ,  975.  , 1080.  ,  353.  ,  330.  ,  422.  ,
        880.  , 3605.  ,  386.  ,  355.  ,  661.  , 1016.  ,  524.  ,
        778.  , 1111.  , 1033.  ,  889.  ,  713.  , 1290.  , 1390.  ,
       1630.  , 1411.  , 1155.  , 1275.  , 1114.  , 1100.  , 1199.  ,
       1090.  , 1590.  , 1352.  , 1173.  ,  641.  ,  435.  ,  516.  ,
        447.  ,  460.  ,  690.  ,  780.  ,  899.  ,  741.  ,  575.  ,
       3000.  ,  205.  ,  188.  ,  301.  ,  209.  ,  162.  ,  253.  ,
        222.  ,  204.  ,  200.  ,  238.  ,  270.  ,  671.  ,  756.  ,
        554.  ,  373.  ,  568.  ,  451.  ,  777.  ,  789.  ,  919.  ,
        989.  , 1099.  , 1700.  ,  157.  ,  617.  ,  613.  , 1131.  ,
       1140.  ,  968.  ,  759.  ,  664.  ,  648.  ,  859.  , 1950.  ,
        428.  ,  684.  , 1020.  ,  846.  , 1076.  , 1215.  , 1425.  ,
        924.  , 1310.  , 1400.  ,  918.  ,  394.  ,  487.  ,  511.  ,
       1555.  , 1999.  ,  367.  ,  419.  ,  260.  ,  263.  ,  261.  ,
        401.  ,  318.  ,  252.  ,  601.  ,  535.  ,  275.  ,  551.  ,
        769.  ,  580.  ,  501.  , 2100.  , 2105.  ,  298.  ,  360.  ,
        352.38,  342.86,  324.  ,  357.  ,  324.47,  389.13,  285.  ,
        290.  ,  315.  ,  341.  ,  380.95,  408.  ,  191.  ,  164.  ,
        333.33,  293.  ,  291.57,  302.91,  270.01,  285.71,  303.  ,
        240.  ,  235.62,  423.  ,  457.14,  476.19,  454.  ,  410.  ,
        432.  ,  637.59,  245.  ,  692.05,  503.  ,  620.  ,  604.69,
        495.  ,  331.  ,  405.  ,  230.  , 1130.  ,  840.  , 2313.  ,
       1499.  ,  248.  ,  193.  ,  213.  ,  468.  ,  333.  ,  618.  ,
        507.  ,  892.  ,  622.  ,  867.  ,  557.  ,  529.  ,  938.  ,
        920.  ,  538.  ,  514.  ,  577.  ,  674.  ,  606.  ,  746.  ,
       2199.  ,  387.  , 1350.  , 1360.  , 1649.  , 1756.  , 1286.  ,
        855.  , 1049.  , 1439.  , 1480.  ,  955.  ,  539.  ,  942.  ,
        863.  , 1169.  ,  822.  , 1428.  ,  809.  , 1446.  ,  438.  ,
        385.  ,  533.  ,  486.  ,  712.  ,  944.  ,  764.  , 1259.  ,
       1079.  , 1699.  ,  323.  ,  615.  ,  701.  ,  608.  , 1118.  ,
       1008.  ,  604.  , 1093.  , 1021.  ,  698.  ,  536.  ,  493.  ,
        657.  ,  548.  ,  893.  ,  727.  , 1399.  , 1903.81, 1103.  ,
        755.  ,  779.  , 1295.  ,  815.  ,  461.  ,  494.  ,  999.  ,
        434.  ,  724.  ,  479.  ,  792.  ,  787.  ,  751.  ,  585.  ,
       1437.  , 1255.  , 1205.  , 1387.  ,  721.  ,  478.  ,  715.  ,
        716.  , 1342.  ,  865.  ,  758.  ,  834.  ,  733.  ,  431.  ,
        404.  ,  696.  ,  492.  ,  722.  ,  640.  ,  473.  ,  775.  ,
        477.  ,  483.  ,  573.  ,  655.  ,  403.  ,  365.  ,  415.  ,
        688.  ,  683.  ,  395.  ,  377.  ,  457.  ,  793.  ,  424.  ,
       1899.  ,  709.  ,  702.  , 1191.  ,  760.  , 1158.  ,  489.  ,
        912.  ,  856.  , 1800.  ,  464.  , 1019.  ,  546.  ,  530.  ,
       2999.  ,  542.  , 1105.  ,  904.  , 1900.  , 2399.  , 1174.  ,
        637.  , 1599.  , 1234.  ,  895.  ,  958.  ,  971.  ,  898.  ,
       1440.  ,  994.  ,  719.  ,  723.  ,  891.  , 1139.  , 1799.  ,
       1449.  , 2699.  ,  309.  ,  288.  ,  255.  ,  299.  ,  903.  ,
        695.  , 1200.  ,  513.  ,  739.  ,  268.  ,  231.  ,  452.  ,
        319.  ,  586.  ,  742.  ,  356.  ,  426.  ,  216.  ,  181.  ,
        174.  ,  201.  ,  227.  ,  545.  , 1250.  ,  381.  ,  745.  ,
        845.  , 3899.  ,  134.  ,  145.  ,  111.  ,  108.  , 1212.  ,
        129.  ,  155.  ,  442.  ,  396.  ,  389.  ,  374.  ,  969.  ,
       3300.  , 3850.  ,  100.  ,   95.  ,  180.  ,  429.  , 1300.  ,
        150.  ,   85.  ,   97.  ,  259.  ,  364.  ,  363.  ,  376.  ,
        686.  ,  561.  ,  283.  ,  407.  ,  456.  ,  854.  ,  666.  ,
        339.  ,  581.  ,  358.  , 1388.  ,  705.  , 3996.  ,  520.  ,
        736.  ,  504.  ,  611.  ,  369.  ,  497.  ,  409.  ,  570.48,
       1110.  , 2600.  , 2850.  ,  476.  ,  392.  ,  502.  ,  289.  ,
        351.  ,  366.  ,  135.  ,  154.  ,  320.  ,  359.  ,  347.  ,
        375.  ,  361.  ,  185.  ,  165.  ,  131.  ,  995.  ,  665.  ,
       1600.  , 3500.  , 2900.  ,  125.  ,  120.  ,  147.  ,   93.  ,
        110.  ,  210.  ,  160.  ,  161.  ,   82.  ,  138.  ,  143.  ])

In [56]:
df['Price']=df['Price'].astype(float).round(2)

In [57]:
df['Price']

0      528.0
1      436.0
2      436.0
3      670.0
4      595.0
       ...
397     93.0
398     82.0
399    138.0
400    138.0
401    143.0
Name: Price, Length: 3709, dtype: float64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3709 entries, 0 to 401
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           3709 non-null   object
 1   Bus_Type           3709 non-null   object
 2   Start_From         3709 non-null   object
 3   Destination        3709 non-null   object
 4   Price              3709 non-null   float64
 5   Starting_Point     3709 non-null   object
 6   Ending_Point       3709 non-null   object
 7   Seat_Available     3709 non-null   object
 8   Start_Time         3709 non-null   object
 9   Reach_Time         3709 non-null   object
 10  Total_Travel_Time  3709 non-null   object
 11  Bus_Rating         3667 non-null   float64
 12  Links              3709 non-null   object
dtypes: float64(2), object(11)
memory usage: 534.7+ KB

In [59]:
df['Total_Travel_Time'] = df['Total_Travel_Time'].str.replace('h ', ':').str.replace('m', '')

In [60]:
df['Total_Travel_Time'].unique()

array(['05:30', '07:50', '07:05', '06:20', '06:50', '05:55', '06:15',
       '06:35', '06:45', '07:35', '07:10', '07:40', '06:00', '06:05',
       '07:00', '06:25', '06:40', '07:15', '06:55', '06:10', '07:25',
       '07:30', '06:30', '06:27', '06:02', '05:49', '07:20', '05:15',
       '05:50', '05:35', '05:00', '05:20', '05:10', '05:25', '05:45',
       '05:40', '05:41', '06:52', '06:31', '06:38', '05:07', '06:08',
       '06:26', '08:20', '04:35', '03:40', '04:00', '04:59', '04:10',
       '04:15', '04:30', '03:45', '04:05', '03:30', '03:50', '03:25',
       '04:25', '05:16', '04:40', '05:56', '08:10', '05:05', '08:05',
       '07:32', '05:31', '06:01', '05:46', '07:01', '05:02', '05:11',
       '04:46', '04:45', '0-18:0-59', '05:01', '05:36', '05:14', '04:55',
       '04:24', '04:50', '02:49', '04:33', '03:55', '04:20', '02:50',
       '03:35', '03:15', '0-20:0-50', '03:31', '04:51', '03:05', '04:36',
       '0-8:0-5', '07:45', '08:00', '07:51', '07:29', '07:55', '09:00',
       '09:35', '08:30', '08:35', '07:46', '08:45', '09:15', '08:15',
       '08:50', '09:05', '09:20', '08:06', '08:25', '08:13', '08:49',
       '02:19', '03:34', '03:00', '03:20', '02:29', '02:40', '03:10',
       '02:45', '05:26', '07:21', '04:01', '06:22', '10:30', '10:15',
       '11:55', '10:45', '09:45', '09:30', '10:35', '10:05', '09:40',
       '10:10', '09:01', '08:40', '03:14', '02:59', '02:55', '27:30',
       '06:03', '04:44', '02:20', '07:41', '09:11', '08:55', '06:46',
       '04:28', '03:39', '03:29', '04:21', '28:45', '02:05', '01:40',
       '02:10', '02:15', '02:35', '02:30', '02:25', '02:00', '27:05',
       '07:19', '10:00', '05:18', '05:23', '05:09', '05:32', '05:27',
       '03:02', '06:47', '17:45', '06:24', '07:36', '09:50', '16:10',
       '03:52', '03:44', '03:47', '10:59', '09:10', '09:47', '10:20',
       '09:28', '07:54', '09:17', '09:25', '09:32', '07:26', '08:39',
       '06:32', '12:00', '14:10', '11:00', '13:58', '13:00', '11:16',
       '12:58', '12:05', '12:55', '11:40', '12:25', '11:20', '11:25',
       '11:30', '12:30', '12:20', '11:45', '13:05', '11:05', '13:55',
       '13:45', '13:10', '13:14', '13:40', '12:35', '11:15', '12:45',
       '14:00', '13:30', '04:37', '11:36', '09:48', '11:50', '12:01',
       '14:30', '11:53', '11:35', '11:44', '11:58', '12:40', '11:10',
       '10:55', '10:53', '09:55', '11:29', '10:50', '12:15', '06:04',
       '07:16', '06:36', '06:41', '05:12', '13:15', '13:35', '12:51',
       '08:59', '10:24', '11:31', '12:36', '10:40', '09:52', '10:25',
       '09:44', '07:17', '07:38', '06:34', '07:02', '12:10', '08:29',
       '06:16', '06:09', '09:34', '10:21', '11:08', '11:17', '11:47',
       '12:50', '13:26', '12:16', '13:50', '13:20', '14:40', '13:25',
       '14:20', '09:24', '09:03', '04:18', '04:39', '05:54', '03:54',
       '02:04', '09:19', '09:09', '07:58', '09:14', '05:21', '05:24',
       '05:06', '04:57', '04:31', '0-19:0-45', '05:59', '06:14', '08:58',
       '07:49', '06:43', '07:34', '07:24', '07:09', '02:58', '02:28',
       '02:16', '0-16:0-45', '0-21:00', '03:32', '03:41', '03:46',
       '03:16', '09:41', '09:22', '08:44', '09:27', '11:01', '06:49',
       '07:18', '07:14', '03:36', '03:53', '0-21:0-15', '01:54', '01:50',
       '01:45', '01:35', '01:25', '01:55', '01:34', '01:29', '06:33',
       '06:07', '06:53', '07:31', '09:31', '01:30', '06:13', '09:16',
       '05:51', '04:56', '20:00', '19:30', '19:00', '18:30', '17:30',
       '17:10', '16:45', '05:13', '04:29', '16:30', '16:00', '15:30',
       '16:40', '17:00', '15:25', '14:15', '15:00', '19:15', '17:40'],
      dtype=object)

In [61]:
df['Bus_Type'].unique()

array(['INDRA(A.C. Seater)', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
       'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)',
       'NIGHT RIDER (SEATER CUM SLEEPER)', 'VENNELA (A.C. SLEEPER)',
       'STAR LINER(NON-AC SLEEPER 2+1)',
       'DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)',
       'A/C Seater / Sleeper (2+1)', 'Electric A/C Seater (2+2)',
       'Scania Multi-Axle AC Semi Sleeper (2+2)',
       'Volvo A/C Semi Sleeper (2+2)', 'A/C Sleeper (2+1)',
       'Scania AC Multi Axle Sleeper (2+1)', 'AC Sleeper (2+1)',
       'Electric A/C Seater/Sleeper (2+1)',
       'Non A/C Seater / Sleeper (2+1)', 'NON A/C Sleeper (2+1)',
       'NON AC Seater / Sleeper 2+1', 'NON A/C Hi-Tech (2+2)',
       'ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)', 'Express(Non AC Seater)',
       'NON A/C Seater/ Sleeper (2+1)', 'A/C Seater/Sleeper (2+1)',
       'NON A/C Semi Sleeper / Sleeper (2+1)', 'SAPTAGIRI EXPRESS',
       'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)',
       'Scania A/C Semi Sleeper (2+2)',
       'Bharat Benz A/C Seater /Sleeper (2+1)',
       'Volvo 9600 Multi-Axle A/C Sleeper (2+1)', 'VE A/C Sleeper (2+1)',
       'METRO LUXURY A/C', 'NON A/C Seater Push Back (2+2)',
       'NON A/C Seater (2+3)', 'Bharat Benz A/C Sleeper (2+1)',
       'NON A/C Semi Sleeper (2+2)',
       'Volvo 9600 A/C Seater/Sleeper (2+1)',
       'A/C Volvo B11R Multi-Axle Sleeper (2+1)',
       'Volvo Multi Axle Sleeper B11R (2+1)',
       'NON A/C Seater PushBack (2+2)', 'NON A/C Push Back (2+2)',
       'NON A/C Seater (2+2)', 'Volvo Multi-Axle A/C Sleeper (2+1)',
       'A/C Semi Sleeper / Sleeper (2+1)',
       'VE Executive A/C Sleeper (1+1)',
       'Volvo Multi-Axle Sleeper A/C (2+1)',
       'Bharat Benz A/C Seater (2+2)', 'Volvo AC Seater 2+2',
       'A/C Seater Push Back (2+2)', 'A/C Seater (2+2)',
       'AC Seater (2+2)', 'A/C Seater (2+1)', 'Tata A/C Seater (2+2)',
       'Volvo AC Seater Pushback 2+2', 'NON A/C Seater (2+1)',
       'Non AC Seater (2+2)', 'NON A/C Seater Semi Sleeper (2+1)',
       'Bharat Benz A/C Seater (2+1)', 'NON AC Seater/ Sleeper (2+1)',
       'Non AC Seater (2+1)', 'NON A/C Seater Push Back (2+1)',
       'A/C Semi Sleeper (2+1)', 'Non AC Seater 2+2',
       'NON A/C Hi-Tech Push Back (2+2)', 'A/C Seater / Sleeper (2+2)',
       'Volvo A/C Sleeper (2+1)', 'Non AC Seater (2+3)',
       'Ordinary 3+2 Non AC Seater', 'Himsuta AC Seater Volvo/Scania 2+2',
       'A/C Executive (2+3)', 'Volvo A/C Semi Sleeper (2+2 )',
       'Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2)',
       'Bharat Benz A/C Semi Sleeper (2+2)',
       'Mercedes Multi-Axle Semi Sleeper (2+2)',
       'Volvo 9600 A/C Semi Sleeper (2+2)', 'A/C Semi Sleeper (2+2)',
       'Volvo AC Seater (2+2)',
       'Volvo 9600 Multi Axle Semi-Sleeper (2+2)',
       'Volvo A/C B11R Multi Axle Semi Sleeper (2+2)',
       'Mercedes Benz A/C (2+2)', 'Himmani Deluxe 2+2 Non AC Seater',
       'Volvo Multi-Axle A/C Semisleeper (2+2)', 'VE A/C Seater (2+2)',
       'VE A/C Semi Sleeper (2+2)',
       'Volvo Multi-Axle A/C Semi Sleeper (2+2)',
       'VE A/C Seater / Sleeper (2+1)', 'A/C Sleeper (2+2)',
       'Volvo A/C Multi-Axle Semi Sleeper (2+2)', 'Volvo A/C (2+2)',
       'VE A/C Sleeper (2+2)', 'Bharat Benz A/C Seater / Sleeper (2+2)',
       'VE A/C Seater / Sleeper (2+2)',
       'Volvo Multi-Axle B9R A/c Semi Sleeper (2+2)',
       'Volvo A/C Sleeper (2+2)', 'SWIFT-GARUDA A/C SEATER BUS',
       'Swift Deluxe Non AC Air Bus (2+2)',
       'Super Express Non AC Seater Air Bus (2+2)',
       'Low Floor AC Seater 2+2', 'Super Fast Non AC Seater (2+3)',
       'NON AC Mini Bus (2+2)', 'NON A/C Seater / Sleeper (3+1)',
       'AC MULTI AXLE', '2+1 Air Suspension A/C Seater / Sleeper',
       'Super Deluxe Non AC Seater Air Bus (2+2)', 'Garuda Premium',
       'Volvo A/C Seater (2+2)', 'NON A/C Seater / Sleeper (2+2)',
       'A/C Seater Push Back (2+3)', 'Lahari A/C sleeper',
       'RAJDHANI (A.C. Semi Sleeper)',
       'RAJADHANI AC (CONVERTED METRO LUXURY)',
       'Lahari Non A/C Sleeper Cum Seater', 'eGARUDA',
       'LAHARI A/C SLEEPER CUM SEATER', 'NON A/C Airbus (2+2)',
       'Deluxe (Non AC Seater 2+2)', 'Rajdhani (AC Semi Sleeper 2+2)',
       'Volvo 9600 A/C Seater (2+2)', 'AC Seater (2+3)',
       'A/C Seater (2+3)', 'A/C Push Back (2+3)',
       'Volvo Multi-Axle A/C seater/sleeper (2+1)',
       'Volvo Multi-Axle A/C Seater/Sleeper (2+1)',
       'Volvo Multi Axle B11R AC Seater\\Sleeper (2+1)'], dtype=object)

In [62]:
# or, if you want to remove rows with NaN values
df.dropna(inplace=True)

# now you can insert the cleaned data into the database

In [63]:
df

,Bus_Name,Bus_Type,Start_From,Destination,Price,Starting_Point,Ending_Point,Seat_Available,Start_Time,Reach_Time,Total_Travel_Time,Bus_Rating,Links
0,APSRTC - 2561,INDRA(A.C. Seater),Hyderabad,Vijayawada,528.0,Central Bus Station (CBS,Rtc bus stand,22 Seats available,17:15,22:45,05:30,3.4,https://www.redbus.in/bus-tickets/hyderabad-to...
1,APSRTC - 2674,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Hyderabad,Vijayawada,436.0,Jeedimetla,Rtc bus stand,17 Seats available,17:30,01:20,07:50,3.2,https://www.redbus.in/bus-tickets/hyderabad-to...
2,APSRTC - 3366,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Hyderabad,Vijayawada,436.0,Kukatpally,Rtc bus stand,25 Seats available,17:55,01:45,07:50,2.4,https://www.redbus.in/bus-tickets/hyderabad-to...
3,APSRTC - 3360,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),Hyderabad,Vijayawada,670.0,Kukatpally,Rtc bus stand,40 Seats available,18:25,01:30,07:05,2.6,https://www.redbus.in/bus-tickets/hyderabad-to...
4,APSRTC - 2575,NIGHT RIDER (SEATER CUM SLEEPER),Hyderabad,Vijayawada,595.0,Kukatpally,Rtc bus stand,27 Seats available,18:55,01:15,06:20,3.8,https://www.redbus.in/bus-tickets/hyderabad-to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),Barasat (West Be...,Nimtouri,93.0,BARASAT,NIMTOURI,49 Seats available,11:15,00:00,12:45,3.6,https://www.redbus.in/bus-tickets/barasat-west...
398,WBTC (CTC) Habra- Barasat- Haldia - 180|07:10,Non AC Seater (2+3),Barasat (West Be...,Nimtouri,82.0,Champadally,Nimtouri,1 Seat available,07:10,08:45,01:35,4.6,https://www.redbus.in/bus-tickets/barasat-west...
399,WBTC (CTC) Habra-Midnapur - 194|05:25,Non AC Seater (2+3),Habra,Midnapore,138.0,Habra,Midnapur,35 Seats available,05:25,09:35,04:10,4.5,https://www.redbus.in/bus-tickets/habra-to-mid...
400,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),Habra,Midnapore,138.0,Habra,Midnapur,34 Seats available,05:55,10:15,04:20,4.3,https://www.redbus.in/bus-tickets/habra-to-mid...
401,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),Habra,Midnapore,143.0,HABRA,MIDNAPUR,40 Seats available,06:20,00:00,17:40,3.8,https://www.redbus.in/bus-tickets/habra-to-mid...

In [64]:
df.to_csv("Bus_Detail_Analysing.csv",index=False)

In [11]:
import pandas as pd

# Assuming df is your DataFrame
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M')
df['Reach_Time'] = pd.to_datetime(df['Reach_Time'], format='%H:%M')

# Clean the Total_Travel_Time column
df['Total_Travel_Time'] = pd.to_numeric(df['Total_Travel_Time'], errors='coerce')
df.dropna(subset=['Total_Travel_Time'], inplace=True)

# Convert the Total_Travel_Time column to timedelta format
df['Total_Travel_Time'] = pd.to_timedelta(df['Total_Travel_Time'], unit='m')

# Convert the time columns to time format
df['Start_Time'] = df['Start_Time'].dt.time
df['Reach_Time'] = df['Reach_Time'].dt.time

In [13]:
import pandas as pd

# Assuming df is your DataFrame
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M').dt.time
df['Reach_Time'] = pd.to_datetime(df['Reach_Time'], format='%H:%M').dt.time

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           0 non-null      object
 1   Bus_Type           0 non-null      object
 2   Start_From         0 non-null      object
 3   Destination        0 non-null      object
 4   Price              0 non-null      float64
 5   Starting_Point     0 non-null      object
 6   Ending_Point       0 non-null      object
 7   Seat_Available     0 non-null      object
 8   Start_Time         0 non-null      object
 9   Reach_Time         0 non-null      object
 10  Total_Travel_Time  0 non-null      timedelta64[ns]
 11  Bus_Rating         0 non-null      object
 12  Links              0 non-null      object
dtypes: float64(1), object(11), timedelta64[ns](1)
memory usage: 0.0+ bytes

In [66]:
import pandas as pd
import mysql.connector

# Establish a MySQL connection
cnx = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="Hari@4444",
    database="Bus"
)

# Create a cursor object
cursor = cnx.cursor()

In [67]:
import pandas as pd
bus_data = pd.read_csv("Bus_Detail_Analysing.csv")  # Replace "bus_data.csv" with your file

In [21]:
import pandas as pd
import mysql.connector

# Read the CSV file
df = pd.read_csv('Bus_Detail_Analysing.csv')

# Establish a connection to your MySQL database
cnx = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="Hari@4444",
    database="redbus"
)

# Create a cursor object
cursor = cnx.cursor()

create_table_query = """
CREATE TABLE bus_detail (
    Bus_Name VARCHAR(255),
    Bus_Type VARCHAR(255),
    DepartureCity VARCHAR(255),
    Destination VARCHAR(255),
    Price DECIMAL(10, 2),
    Starting_Point VARCHAR(255),
    Ending_Point VARCHAR(255),
    Seat_Available VARCHAR(255),
    Start_Time VARCHAR(255),
    Reach_Time VARCHAR(255),
    Total_Travel_Time VARCHAR(255),
    Bus_Rating DECIMAL(10, 2),
    Links VARCHAR(255)
)
"""
cursor.execute(create_table_query)
cnx.commit()


# Insert the data into the MySQL table
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO bus_detail (
        Bus_Name, Bus_Type, DepartureCity, Destination, Price, Starting_Point, 
        Ending_Point, Seat_Available, Start_Time, Reach_Time, Total_Travel_Time, 
        Bus_Rating, Links
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))

# Commit the changes
cnx.commit()

# Close the MySQL connection
cursor.close()
cnx.close()

In [79]:
df['Price'].mean()

np.float64(608.221722836344)

In [80]:
min(df['Price'])

82.0

In [81]:
min(df['Bus Rating'])

1.0

In [82]:
max(df['Bus Rating'])

5.0